<footer role="contentinfo" class="mb3">
  <nav>
    <ul style=" display: flex; justify-content: center; list-style: none; padding-left: 0;">
      {% if not home %}<li><a href="/">Home</a></li>{% endif %}
      <li><a rel="me" href="{{ meta.linkedin }}">LinkedIn</a></li>
      <li><a rel="me" href="{{ meta.github }}">Github</a></li>
		  <li><a rel="me" href="{{ meta.twitter}}">Twitter</a></li>
    </ul>
  </nav>
</footer>
